@import "base/null.scss";
@import "base/base.scss";
@import "base/fonts.scss";

@import "blocks/header.scss";

@import "blocks/index.scss";
@import "blocks/blog.scss";
@import "blocks/contact.scss";
@import "blocks/others.scss";

@import "blocks/blueimp.scss";
@import "blocks/gallery.scss";
@import "blocks/modal.scss";
@import "blocks/footer.scss";